<!--include header-->
<%- include('include/_header') %>
<!--/include header-->

<main id="main-content">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/machine"> <i class="fas fa-angle-double-left"></i>All Machines</a>
            </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Update Machine</h2>
            <span class="text-light">Use the form to update a Machine</span>
        </div>

        <!--crud form-->
        <form method="post" id="update_machine">
            <div class="new_type_machine">
                <div class="form-group">
                    <label for="dateIssue" class="text-light">Date Issue</label>
                    <input type="hidden" name="id" value="<%= machines._id %>">
                    <input type="text" name="dateIssue" value="<%= machines.dateIssue %>" placeholder="Enter a dateIssue">
                </div>
                <div class="form-group">
                    <label for="typeMachine" class="text-light">Type Machine</label>
                    <input type="text" name="typeMachine" value="<%= machines.typeMachine._id %>" placeholder="Enter a type machine">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn text-dark update">Save</button>
                </div>
            </div>
        </form>
        <!--/crud form-->
    </div>
</main>

<!--include footer-->
<%- include('include/_footer') %>
<!--/include footer-->